svg .loader__rotation, svg .loader__path {
    stroke-linecap: square;
    stroke-width: 3;
  }
  
  .loader__path {
    opacity: 0;
    stroke: #00838F;
    transition: opacity 0.5s, stroke-dashoffset 0.5s;
  }
  /* #00838F
  #006064 */
  
  .loader__background {
    opacity: 0;
    /* fill: #2A3F54; */
    stroke: #006064;
    fill: none;
    transition: opacity 0.1s, stroke-dashoffset 0.5s;
  }
  
  @keyframes rotate {
    100%{
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0%{
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
    }
    50%{
      stroke-dasharray: 89,200;
      stroke-dashoffset: -35px;
    }
    100%{
      stroke-dasharray: 89,200;
      stroke-dashoffset: -124px;
    }
  }
  
  .loader.done .loader__path,
  .loader.done .loader__background {
    opacity: 1;
    stroke-dashoffset: 0;
  }
  .loader.done .loader__rotation {
    opacity: 0;
  /*   stroke-dasharray: 200,0;
    animation: none; */
  }
  
  /* css for the demo */
  body {
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  /* div.showbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  } */
  
  div.loader {
    position: relative;
    /*margin: 0px auto;*/
    width: 60px;
  }
  div.loader:before {
    content:'';
    display: block;
    padding-top: 100%;
  }
  
  svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
  }
.msg_svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    margin-top:30px;
    font-size: 1.4em;
}